@import "vendor/animate.min.css"
@import "vendor/jquery.fullpage"
@import "style"
@import "base-sidenav.styl"
@import "community-style"
@import "contactus-style"
@import "products-style"
@import "style-responsive"
@import "detail/callhome"
@import "detail/fastsell"
@import "detail/hawkhero"
@import "detail/lom"
@import "detail/luckywingabar"
@import "detail/mm"
@import "detail/mychat"
@import "detail/myfish"
@import "detail/myhero"


$primary-color = #333

