@import "vendor/animate.min.css"
@import "vendor/jquery.fullpage"
@import "style"
@import "base-sidenav.styl"
@import "community-style"
@import "contactus-style"
@import "products-style"
@import "style-responsive"
@import "detail/callhome"
@import "detail/fastsell"
@import "detail/hawkhero"
@import "detail/lom"
@import "detail/luckywingabar"
@import "detail/mm"
@import "detail/mychat"
@import "detail/myfish"
@import "detail/myhero"


$primary-color = #333

// body
//   margin: 50px
//   background: url($url)
//   padding: 0 50px 0 50px
//   border-radius: 2px
//   transition: all 0.2s ease
//   color: rgb(34,56,43)

// .container
//   color: #fff

// // this is comment
// #xxx
//   width: 200px
//   height: 200px
//   // flex 1
//   // flex-direction row-reverse
//   border: 6px solid #666
//   color: $primary-color
//   font-size: 13px
//   font-family: Arial
//   line-height: 1.2
//   background: #fff url('img/css/mm-logo.jpg')
//   background-size: 100%
//   background-attachment: fixed
//   retinaSprite($icon_badge_qc_group)

// .xx .yy
//   background: url('img/css/folder/img.png')
