.header {
  width: 100%;
  height: 556px;
  background-image: url('../../img/detail/mychat/bg-mychat.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.header .content {
  width: 1060px;
  height: 472px;
  position: relative;
  margin: 88px auto 0px auto;
}

.half {
  width: 50%;
  height: 100%;
}

.mg-bottom-8 {
  margin-bottom: 8px;
}

.mg-bottom-26 {
  margin-bottom: 26px;
}

.mg-top-14 {
  margin-top: 14px;
}

.header .content .hero {
  position: absolute;
  background-image: url('../../img/detail/mychat/my-chat.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 60%;
  z-index: 1;
  top: 0px;
  left: 0px;
}

.header .content .intro {
  position: absolute;
  left: 55%;
  z-index: 2;
  top: 0px;
  width: 530px;
}

.header .content .logo-mychat {
  padding: 0px;
  height: auto;
}

.header .content .name {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 2.1px;
  color: #ffffff;
  font-family: 'GillSans-SemiBold';
}

.header .content .description {
  opacity: 0.5;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 0.3px;
  text-align: left;
  color: #ffffff;
  max-width: 515px;
  font-family: 'GillSans-Light';
}

.header .content .description .notice {
  font-size: 16px;
  font-style: italic;
  margin-top: 12px;
}

.header .content .follow {
  font-size: 18px;
  text-align: left;
  color: #ffffff;
  align-items: center;
  display: flex;
  font-weight: 100;
  font-family: 'GillSans-Light';
}

.header .content .follow a {
  padding-left: 8px;
  width: 24px;
  height: 24px;
}

.header .content .app-link {
  display: flex;
}

.header .content .app-link button {
  width: 176px;
  height: 48px;
  border-radius: 100px;
  outline: none;
  margin-right: 16px;
  border: none;
  cursor: pointer;
}

.google-play {
  background-color: #1e384f;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.apk {
  color: white;
  font-size: 18px;
  background-color: #ffbe00;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.bg-grey {
  background-color: #f0f5f7;
}

#ic-download {
  height: 20px;
  width: 20px;
  background-image: url('../../img/icon/ic-download.png');
}

#callhome-bg {
  background-image: url('../../img/detail/callhome/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#callhome-hero {
  background-image: url('../../img/detail/callhome/mockup-call-home.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 620px;
}

.section-padding {
  padding-left: 32px;
  padding-right: 32px;
}

#overview {
  height: 550px;
}

#feature,
#feature2 {
  height: 550px;
}

#update {
  height: 550px;
}

.container .content {
  width: 1060px;
  height: 100%;
  margin: auto;
  display: flex;
}

.content .half {
  width: 50%;
  box-sizing: border-box;
}

.content .half .mockup {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.content .half .mockup img {
  max-height: 90%;
  max-width: 95%;
}

.content .text {
  display: flex;
  height: 100%;
}

.content .wrapper {
  margin: auto auto;
}

.content .half .wrapper .title {
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 9px;
  font-family: 'GillSans-SemiBold';
}

.content .half .wrapper .body {
  opacity: 0.7;
  font-size: 22px;
  font-weight: 300;
  line-height: 28px;
  color: #1e384f;
  margin-top: 9px;
  font-family: 'GillSans-Light';
}

.maxwidth-overview {
  max-width: 510px;
}

.maxwidth-feature {
  max-width: 545px;
}

.maxwidth-update {
  max-width: 535px;
}

#feature .content .half .body span {
  font-size: 22px;
  line-height: 28px;
  color: #1e384f;
  font-weight: 500;
}

#feature .content .half .body {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: -0.5px;
  color: #1e384f;
}

.delay-hero {
  animation-delay: 0.1s;
}

.delay-intro {
  animation-delay: 0.1s;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.delay-overview {
  animation-delay: 0.6s;
}

@media (max-width: 1060px) {
  .container .content {
    width: 100%;
  }
}

@media (max-width: 970px) {
  #callhome-hero {
    left: -13%;
  }
}

@media (max-width: 970px) {
  .container .content {
    flex-direction: column-reverse;
    padding: 32px 0px;
  }

  .container #special-content-reverse {
    flex-direction: column;
  }

  #overview,
  #feature,
  #feature2,
  #update {
    height: auto;
  }

  .content .half {
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 850px) {
  #callhome-hero,
  #fastsell-hero,
  #mm-hero {
    display: none;
  }

  .breadcrum-container {
    display: none;
  }

  .header .content .intro {
    margin: 12px auto 0px auto;
    position: relative;
    left: auto;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header .content .app-link {
    flex-direction: column;
  }

  .header .content .app-link button {
    width: 230px;
    margin: 8px auto;
  }
}

@media (max-width: 600px) {
  .section-padding {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 430px) {
  .header {
    height: 570px;
  }

  #mm-bg {
    height: 590px;
  }
}
