body {
  margin: 0;
}

.white-text {
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-family: "GillSans-Light";
}

.pointer {
  cursor: pointer;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: url('img/common/contactus/bg-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  margin: auto auto;
  width: 690px;
  display: flex;
  flex-direction: column;
}

.content .title {
  font-size: 64px;
  font-weight: 600;
  text-align: left;
  animation-delay: .3s;
  font-family: "GillSans-SemiBold";
}

.content .email {
  border-top: dashed 1px rgba(165, 165, 165, 0.6);
  border-bottom: dashed 1px rgba(165, 165, 165, 0.6);
  padding: 18px 0;
  font-size: 18px;
  font-weight: 300;
  animation-delay: .7s;
  font-family: "GillSans-Light";
}

.content .email span {
  color: #e4b315;
}

.content .social-link {
  margin: 32px 0 32px 0;
  animation-delay: .9s;
}

.content .social-link img {
  width: 32px;
  height: 32px;
  margin-right: 6px;
  transition: 0.2s;
}

.content .social-link img:hover {
  opacity: 0.6;
}

.content .policy {
  height: 43px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  animation-delay: 1s;
}

.spacer {
  margin: 0 64px;
}

.content .copyright {
  margin-top: 18px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.1px;
  text-align: center;
  animation-delay: 1.1s;
}

.content .offices {
  display: flex;
  flex-direction: row;
  margin-bottom: 42px;
  margin-top: 48px;

  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: left;
}
.office {
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  font-family: "GillSans-SemiBold";
}

.content .offices .vn-office {
  width: 290px;
  display: inline;
  margin-right: 42px;
  animation-delay: .5s;
}

.content .offices .my-office {
  width: 335px;
  display: inline;
  animation-delay: .6s;
}

.address {
  opacity: 0.5;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-family: "GillSans-Light";
}

.logo {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 56px;
  height: 56px;
  z-index: 10;
}

@media (max-width: 700px) {
  .content {
    width: 100%;
    padding: 16px;
    margin: 84px 0 0 0;
  }

  .breadcrum-container {
    display: none;
  }

  .spacer {
    margin: 0 16px;
  }

  .content-policy {
    width: 95%;
  }

  .content .offices {
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .my-office {
    margin-top: 16px;
  }

  .content .offices .vn-office {
    margin-right: 0px;
  }

  .content .social-link {
    margin: 24px 0;
  }
}
