#fastsell-bg {
  background-image: url('../../img/detail/fastsell/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#fastsell-hero {
  background-image: url('../../img/detail/fastsell/mockup-fastsell.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 620px;
}
