#hawkhero-bg {
  background-image: url('img/common/detail/hawkhero/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#hawkhero-hero {
  background-image: url('img/common/detail/hawkhero/character.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 620px;
}
