#luckywingabar-bg {
  background-image: url('../../img/detail/luckywingabar/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#luckywingabar-hero {
  background-image: url('../../img/detail/luckywingabar/character.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  width: 620px;
}

#luckywingabar-maxwidth {
  max-width: 500px;
}

#feature .special-content {
  width: 1112px;
  /* background-color: white; */
  margin: 0px auto;
  display: flex;
}

#feature .special-content .half {
  width: 48%;
  margin-left: 8px;
  margin-right: 8px;
  /* background: yellow; */
}

#feature .special-content .half ul li {
  font-size: 20px;
  letter-spacing: 0.1px;
  opacity: 1;
  padding-left: 2em;
  text-indent: -2em;
  font-family: "GillSans-SemiBold";
}

#feature .special-content .half p {
  margin-top: 0px;
  padding-left: 31px;
  margin-bottom: 32px;
  opacity: 0.4;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin-top: 6px;
  font-family: "GillSans-Light";
}

.text-white {
  color: white;
}

#feature .special-content .mg-bottom-22 {
  margin-bottom: 22px;
}

#mockup-feature {
  margin-top: 60px;
  margin-bottom: 36px;
}

@media (max-width: 480px) {
  .header {
    height: 645px;
  }
}
