#mm-bg {
  background-image: url('../../img/detail/mingalarbarmorning/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

#mm-bg .content {
  display: flex;
  padding-top: 16px;
}

#mm-hero {
  background-image: url('../../img/detail/mingalarbarmorning/mockup-mm.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 50%;
}

#mm-intro {
  position: relative;
  left: 0px;
  padding-left: 24px;
}

#mm-intro .name {
  font-size: 52px;
}

.mm-maxwidth-feature {
  max-width: 470px;
}
