#myfish-bg {
  background-image: url('../../img/detail/myfish/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#myfish-hero {
  background-image: url('../../img/detail/myfish/character.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 620px;
}

#myfish-maxwidth {
  max-width: 533px;
}

@media (max-width: 480px) {
  .header {
    height: 645px;
  }
}
