#myhero-bg {
  background-image: url('../../img/detail/myhero/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#myhero-hero {
  background-image: url('../../img/detail/myhero/character.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 620px;
}

@media (max-width: 480px) {
  .header {
    height: 645px;
  }
}
