@media (max-width: 1100px) {
  .scroll-indicator {
    display: none;
  }

  #section1 .scroll-down-small {
    display: block;
  }
}

@media (max-width: 1074px) {
  #section5 .hero .wrapper {
    width: 400px;
  }
}

@media (max-width: 1000px) {
  #section3 .card-list .card-row {
    width: 666px;
  }

  .logo {
    position: absolute;
  }
}

@media (max-width: 978px) {
  .column {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: max-content;
  }
}

@media (max-width: 900px) {
  #section5 .hero .wrapper {
    width: 460px;
  }

  #section5 .hero .hiring-text {
    margin: auto;
  }
}

@media (max-width: 860px) {
  #section5 #hero-section-5 {
    flex-direction: column;
  }

  #section5 .hero .wrapper {
    width: 100%;
    height: 450px;
  }

  #section5 .hero .hiring-text {
    width: 408px;
    height: auto;
    padding: 0px 20px;
    margin: 42px auto 12px auto;
  }

  #section5 .hero .jobs {
    width: 100%;
  }

  #section5 .scroll-small {
    display: block;
  }
}

@media (max-width: 700px) {
  #section3 .card-list .card-row {
    width: 333px;
  }
}

@media (max-width: 600px) {
  #section4 .hero .column {
    width: 100%;
  }

  #section4 .hero .column .title {
    font-size: 60px;
    margin-top: 32px;
  }

  .about-us-header {
    margin-top: 32px;
  }
}

@media (max-width: 600px) {
  .about-us-header,
  #section3 .column .text .title,
  #section4 .hero .column .title,
  #section5 .hero .hiring-text .title {
    font-size: 56px;
  }

  #section2 .sub-header,
  #section2 .sub-p,
  #section3 .column .text .body,
  #section4 .hero .column .body,
  #section5 .hero .hiring-text .body {
    font-size: 18px;
  }

  #section1 .scroll-down-small {
    left: 42%;
  }
}
